//! **************************************************************************
// Written by: Map P.20131013 on Mon Oct 10 08:52:56 2016
//! **************************************************************************

SCHEMATIC START;
COMP "iClk" LOCATE = SITE "B8" LEVEL 1;
COMP "oLed" LOCATE = SITE "M5" LEVEL 1;
NET "iClk_BUFGP/IBUFG" BEL "iClk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

